@use "sass:math";
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

// Primary
$blue: hsl(223, 87%, 63%);

// Secondary
$pale-blue: hsl(223, 100%, 88%);
$light-red: hsl(354, 100%, 66%);

// Neutral
$gray: hsl(0, 0%, 59%);
$very-dark-blue: hsl(209, 33%, 12%);

body {
    font: {
        size: math.div(20px, 16px) * 100%;
        family: 'Libre Franklin', sans-serif;
    }
}
*, * *, *::after, *::before {
    box-sizing: border-box;
}

.spritesheet {
    display: none;
}

main {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    flex: {
        direction: column;
        wrap: nowrap;
    }
}

.logo {
    height: 1em;
}

.content {
    text-align: center;
    color: $very-dark-blue;

    h1 {
        font: {
            size: 1.20em;
        }
    }

    p {
        font: {
            size: 0.70em;
        }
    }

    .light-text {
        color: $gray;
        font: {
            weight: lighter;
        }
    }
}

.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 1em;
    flex: {
        direction: row;
        wrap: wrap;
    }

    & > * {
        font-family: inherit;
        height: 3em;
        border-radius: 1.5em;
        flex: {
            grow: 1;
            basis: 375px;
        }
    }

    input[type="email"] {
        border: 1px solid $pale-blue;
        padding: 0 2em;
        
        &::placeholder {
            color: $pale-blue;
        }

        &.error {
            border-color: $light-red;
        }
    }

    input[type="submit"] {
        border: none;
        background-color: $blue;
        color: white;
        cursor: pointer;
        box-shadow: 0px 0.25em 12px 1px $pale-blue;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: hsl(223, 96%, 69%);
        }
    }

    .error-message {
        text-align: center;
        color: $light-red;
        font: {
            size: 0.5em;
            style: italic;
        }
    }
}

.dashboard {
    width: 100%;
    padding: 1em;
}

footer {
    text-align: center;
    color: $gray;
    padding: 1em;
    font: {
        size: 0.6em;
    }
}

.social {
    margin-bottom: 2em;
}

.icon-wrapper {
    display: inline-block;
    border: 1px solid $pale-blue;
    border-radius: 50%;
    height: 3.25em;
    width: 3.25em;
    line-height: 3.75em;
    transition: background-color 0.3s ease, border-color 0.3s ease;

    &:hover {
        background-color: $blue;
        border-color: $blue;

        & .icon {
            fill: white;
        }
    }
}

.icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    stroke-width: 0;
    stroke: $very-dark-blue;
    fill: $blue;
    transition: all 0.3s ease;
}